<mat-toolbar color="primary">
    <span>Video Party</span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span class = "username-style">
      <form>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input id="username_value" matInput placeholder="Ex. Ajit" value="">
        </mat-form-field>
        <button mat-raised-button type='button' (click)="OnSubmit()" [disabled]="disabled">Submit</button>
      </form>
    </span>
  </mat-toolbar>
  <div class="mycard">
    <mat-card>
      <mat-card-title>Chat Window</mat-card-title>
        <mat-list>
          <mat-list-item *ngFor="let message of messageList">
            <mat-icon mat-list-icon>folder</mat-icon>
            <div mat-line>{{message}}</div>
            <mat-divider></mat-divider>
          </mat-list-item>
      </mat-list>
      <input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" />
      <button (click)="sendMessage()">Send Message</button>
    </mat-card>
    <div *ngFor="let message of messageList">
    </div>
  </div>
  
  <router-outlet></router-outlet>